.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  width: 47vw;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.col {
  flex: 1 1 30%;
  margin: 10px;
}

.wind, .bottom {
  margin-top: 20px;
  background-color: #eee;
  padding: 20px;
}

h1{
  padding-bottom: 10px;
  
}

label{
  padding-right: 10px;
}
